{% extends 'base.html.twig' %}

{% block title %}Place{% endblock %}

{% block body %}
    <h1>Place</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ place.city }}</td>
            </tr>
            <tr>
                <th>Country_code</th>
                <td>{{ place.countryCode }}</td>
            </tr>
            <tr>
                <th>X_axis</th>
                <td>{{ place.xAxis }}</td>
            </tr>
            <tr>
                <th>Y_axis</th>
                <td>{{ place.yAxis }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_PLACE_INDEX') %}
        <a href="{{ path('app_place_index') }}">back to list</a>
    {% endif %}
    {% if is_granted('ROLE_PLACE_EDIT') %}
        <a href="{{ path('app_place_edit', {'id': place.id}) }}">edit</a>
    {% endif %}
    {% if is_granted('ROLE_PLACE_DELETE') %}
        {{ include('place/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
